* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.4s ease;
  color: #ffcd05;
  padding-left: 7px;
}

a:hover{
  color: #337ab7;
  cursor: pointer;
}

.logo-codesai {
  width: 100px;
  display: flex;
  margin: 0 auto;
}
.twitter-logo,.email-logo{
  width: 20px;
  height: 20px;
}

.contact{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.twitter,.mail{
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.titles-footer{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

@media all and (min-width: 768px) {
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .contact{
    padding-top: 0px;
  }

}
