* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Thasadith', sans-serif;
}

h1{
  font-size: 40px;
}

.tittle-introduction{
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

b{
  color: #337ab7;
}


header{
  padding-left: 20px;
  height: 70px;
  width: 100%;
  background-color: #111;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header{
  display: none;
}

.logo{
  height: 45px;
  width: 45px;
}

.introduction{
  background-image: url(../images/portada.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}

.text-introduction{
  font-size: 10px;
}

.schedule-container{
  text-align: center;
  color: #111;
  margin-right: auto;
  margin-left: auto;
  background-color: #eeeeee;

}
.box-schedule{
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
}

.title-schedule{
  padding-bottom: 35px;
  font-size: 35px;
}

.list-group-items{
  position: relative;
    display: block;
    padding: 15px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about-container{
  background-image: url(../images/image-about-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 40px;
}

.title-about{
  padding: 30px 0 20px;
}

.list-about{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.about-items{
  padding: 20px;
}

.title-items{
  padding-bottom: 16px;
}

.venue-container{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #111;
  text-align: center;
  padding: 40px;
}

.images-venue{
  height: 125px;
  width: 224px;
  padding: 10px;
}

.text-venue{
  padding-bottom: 30px;
}

.images-venue-container{
  display: flex;
  flex-direction: column;
}

.photo{
  background-image: url(../images/foto4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.localitation-container{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.box-localitation{
  padding-bottom: 32px;
}

.title-localitation1{
  color: #111;
}

.title-localitation2{
  color: #8c8c8c;
  padding-left: 30px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  transition: color 0.4s ease;
  color: #ffcd05;
  padding-left: 7px;
}

a:hover{
  color: #337ab7;
  cursor: pointer;
}

.logo-codesai {
  width: 100px;
  display: flex;
  margin: 0 auto;
}
.twitter-logo,.email-logo{
  width: 20px;
  height: 20px;
}

.contact{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.twitter,.mail{
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.titles-footer{
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}

footer{
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

@media all and (min-width: 768px) {
  .list-header{
    display: flex;
    list-style: none;
  }

  .items-header{
    padding: 0 20px 0 20px;
  }

  .introduction{
    background-image: url(../images/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
  }

  .text-introduction{
    font-size: 20px;
    padding: 40px;
  }

  iframe{
    width: 500px;
    height: 250px;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 33px;
  }

  .contact{
    padding-top: 0px;
  }

  .localitation-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .about-container{
    background-image: url(../images/image-section-about.png);
    background-repeat: no-repeat;
    padding: 25px;
  }

  .title-about{
    padding: 30px 0 10px 0;
  }

  .list-about{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .images-venue{
    height: 200px;
    width: 400px;
  }

  .images-venue-container{
    flex-direction: row;
    justify-content: center;
  }

  .box-localitation {
    padding-right: 55px;
  }
}
